.content {
    position: relative;
    top: 5vh;
    display: grid;
    grid-template-areas: "header div1 div2 space div3 div4 header2" "header div1 div2 space div3 div5 header2";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.5fr 1fr 1fr 30px 1fr 1fr 0.5fr;
    gap: 1vh;
    height: 50vh;
    margin: 0;
}

.content>:nth-child(1) {
    grid-area: header;
}

.content>:nth-child(2) {
    grid-area: div1;
}

.content>:nth-child(3) {
    grid-area: div2;
}

.content>:nth-child(4) {
    grid-area: div3;
}

.content>:nth-child(5) {
    grid-area: div4;
}

.content>:nth-child(6) {
    grid-area: div5;
}

.content>:nth-child(7) {
    grid-area: header2;
}


/* raleway-regular - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/raleway-v22-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway-v22-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff');
}