body {
  margin: 0;
  font-family:'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5ddef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  height:100vh;
  align-items: center;
  justify-content: center;
}

td{
  border: #4c394f 1px solid;
  border-collapse: collapse;
}
table{
  border: #917898 5px solid;
  border-collapse: collapse;
}

.rise{
  background-color: #00eb46;
}

.fall{
  background-color: #ff0000;
}

.black{
  width: 30px;
  height: 30px;
  background-color: black;
}

.white{
  background-color: wheat;
}

.letters{
  width: 30px;
  height: 30px;
  text-align: center;
}

.chess td{
  border: none;
}