body {
  margin: 0;
  font-family:'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6fe2e2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  height:100vh;
  align-items: center;
  justify-content: center;
}

td{
  border: #787a7a 3px solid;
  border-collapse: collapse;
}
table{
  border: #ffe881 10px solid;
  border-collapse: collapse;
}