::root {
  --val: 0;
}

.score-value {
  stroke-linecap: round;
  stroke-dasharray: 100;
  stroke-dashoffset: calc(100 - var(--val));
}

.mark-1 {
  --val: 10;
}

.mark-2 {
  --val: 20;
}

.mark-3 {
  --val: 30;
}

.mark-4 {
  --val: 40;
}

.mark-5 {
  --val: 50;
}

.mark-6 {
  --val: 60;
}

.mark-7 {
  --val: 70;
}

.mark-8 {
  --val: 80;
}

.mark-9 {
  --val: 90;
}

.mark-10 {
  --val: 100;
}

body {
  background-color: #090C28;
  color: #ffffff;
  font-family: lato,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

text {
  fill: #ffffff;
  font-size: 32px;
  font-weight: 600;
}

img {
  height: inherit;
}

svg circle {
  stroke-width: 10;
  -webkit-transform-origin: center;
          transform-origin: center;
  fill: none;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  stroke: url(#gradient-fill);
}

iframe {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  width: available;
  height: auto;
  border-radius: 20px;
}

a {
  color: #ffffff;
}

a:hover {
  color: #cccccc;
}

main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main;
}

.background {
  background-color: #090C28;
  background-image: radial-gradient(at 17% 78%, #0d2168 0px, transparent 50%), radial-gradient(at 71% 79%, #241158 0px, transparent 50%), radial-gradient(at 28% 2%, #0d0724 0px, transparent 50%), radial-gradient(at 75% 22%, #1a273d 0px, transparent 50%);
}

.full-size {
  width: 100%;
  height: 100%;
}

* {
  scrollbar-color: white #090C28;
  scrollbar-width: thin;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #090C28;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 32px;
  border: 4px solid #090C28;
}

.sticky {
  display: block;
  position: -webkit-sticky;
  position: sticky;
}

.wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nav main";
  grid-auto-flow: column;
  -ms-grid-columns: 0.1fr 2fr;
      grid-template-columns: 0.1fr 2fr;
  gap: 1vw;
  margin: 0px 5px;
}

.wrapper nav {
  width: 80px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  position: -webkit-sticky;
  position: sticky;
  top: 0.5vh;
  margin: 0.5vh 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7vh;
  height: 99vh;
  background-color: #202551;
  border-radius: 10rem;
}

.wrapper nav img {
  width: 50px;
  aspect-ratio: 1;
}

.icon {
  width: 64px;
  height: auto;
}

.greeting {
  display: block;
  margin-top: 1.5vh;
  margin-bottom: 6vh;
}

.greeting > * {
  margin: 0px;
}

.greeting p {
  font-weight: 400;
}

.genre {
  display: block;
  text-align: center;
  background-color: #5C2BB7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 220px;
  height: 150px;
  left: 17px;
  top: 11px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.03em;
}

.recent-game {
  display: block;
  width: 200px;
  height: 70px;
  cursor: pointer;
}

.recent-game .small {
  height: 100%;
  aspect-ratio: 1;
  display: inline-block;
  border-radius: 10px;
}

.recent-game span {
  display: inline;
  vertical-align: top;
  margin-top: 0px;
}

.game {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  width: 250px;
  background-color: #161A3D;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 330px;
  text-align: center;
  border-radius: 15px;
  line-height: 30px;
  font-size: 26px;
  cursor: pointer;
}

.game img {
  height: 80%;
  width: 100%;
  border-radius: 15px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.text {
  padding-left: 10vw;
  padding-right: 24vw;
  padding-bottom: 2vh;
}

.information {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2vh;
  position: fixed;
  width: Max(420px, 35vw);
  height: 99vh;
  background-color: #24295a;
  right: 0.2vw;
  top: 0.5vh;
  border-radius: 50px;
}

.information img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  width: 100%;
  height: 30%;
  border-radius: inherit;
}

.header {
  margin-bottom: 10px;
}

.content {
  text-align: justify;
  font-size: Max(18px, Min(20px, 1.5vw));
  -webkit-text-size-adjust: 80%;
     -moz-text-size-adjust: 80%;
      -ms-text-size-adjust: 80%;
          text-size-adjust: 80%;
}

.score {
  display: inline-block;
  width: Min(30%, 120px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

.score-from {
  display: block;
  text-align: center;
  font-size: 20px;
}

.button-back {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url(../sources/svg/icon-cross.svg);
}

.button-add-game {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 22px;
  background-image: url(../sources/svg/icon-cart.svg);
  display: block;
  cursor: pointer;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: Min(1.5vw, 20px);
}

.row .content-row {
  margin: 3.5vh auto;
}

.row-justify {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hidden {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media screen and (max-width: 770px) {
  .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .genre {
    width: 180px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .icon {
    width: 45px;
  }
  .wrapper {
    display: block;
    margin-left: 0px;
  }
  .wrapper nav {
    background-color: #202551;
    gap: 10vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: fixed;
    width: 100%;
    height: 8vh;
    bottom: 0px;
    top: initial;
    margin: 0;
    border-radius: 0px;
    z-index: 1;
  }
  .information:not(.hidden) {
    top: 0;
    width: 100%;
    -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
    border-radius: 0px;
    font-size: 20px;
  }
  .information:not(.hidden) img {
    border-radius: 20px;
    height: 25%;
  }
  .button-back {
    display: block;
  }
  .header {
    font-size: 15px;
  }
  svg {
    margin: 0px auto;
    width: 50px;
    height: 50px;
  }
}
/*# sourceMappingURL=style.css.map */