table{
    width: 200px;
    height: 200px;
    border: 5px solid red
}

tr:nth-child(2n) td:nth-child(2n)
{
    background-color: black;
}
tr:nth-child(2n-1) td:nth-child(2n-1)
{
    background-color: black;
}