table {
    width: 200px;
    height: 200px;
}

tr:nth-last-child(1) td,
tr:first-child td,
td:last-child,
td:first-child {
    background-color: rgb(255, 0, 0);
}

tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
    background-color: rgb(0, 0, 0);
}