body {
  margin: 20px;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}

.hidden {
  display: none;
}

input,
button {
  box-sizing: border-box;
  height: 35px;
  margin: 0;
  padding: 6px 12px;
  font-family: inherit;
  font-size: 100%;
  color: inherit;
}

input,
select {
  border: 1px solid #ccc;
  width: 250px;
}

button {
  color: #fff;
  background-color: #428bca;
  border: 1px solid #357ebd;
}
button:hover {
  background-color: #3276b1;
  border-color: #285e8e;
  cursor: pointer;
}
