.button {
  display: inline-block;
  position: relative;
  border-radius: 15px;
  background-color: #313d5a;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 20px;
  height: 98%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.big-image {
  width: 40vw;
}

.small.button {
  display: none;
}

.button::after {
  width: 50px;
  font-size: 60px;
  position: relative;
  right: 12px;
  transition: 0.5s;
}

.button.right::after {
  content: "\00bb";
  animation: anim 1s ease-in-out alternate infinite;
}

.button.left::after {
  animation: anim 1s ease-in-out alternate-reverse infinite;
  content: "\00ab";
}

.bug {
  display: none;
}

.contain {
  display: block;
}

@keyframes anim {
  0% {
    right: 20px;
  }
  100% {
    right: 0px;
  }
}

@media screen and (max-width: 770px) {
  body {
    height: 100vh;
    width: 100vw;
  }
  .contain {
    display: flex;
  }
  .big-image {
    width: 100%;
  }
  .button:not(.small) {
    display: none;
  }

  .button.small {
    height: 405px;
    display: block;
  }

  .bug {
    display: block;
    height: 60px;
  }
}
