$background-color:#090C28;
$primary-color:#161A3D;
$menu-background-color:#202551;
$text-color:#ffffff;
$information-block-color:#24295a;

/*  :::     :::     :::     :::::::::   :::::::: 
   :+:     :+:   :+: :+:   :+:    :+: :+:    :+: 
  +:+     +:+  +:+   +:+  +:+    +:+ +:+         
 +#+     +:+ +#++:++#++: +#++:++#:  +#++:++#++   
 +#+   +#+  +#+     +#+ +#+    +#+        +#+    
 #+#+#+#   #+#     #+# #+#    #+# #+#    #+#     
  ###     ###     ### ###    ###  ########      */
::root {
	--val: 0;
}
.score-value {
	stroke-linecap: round;
	stroke-dasharray: 100;
	stroke-dashoffset: calc(100 - var(--val));
}
.mark-1 {
	--val: 10;
}
.mark-2 {
	--val: 20;
}
.mark-3 {
	--val: 30;
}
.mark-4 {
	--val: 40;
}
.mark-5 {
	--val: 50;
}
.mark-6 {
	--val: 60;
}
.mark-7 {
	--val: 70;
}
.mark-8 {
	--val: 80;
}
.mark-9 {
	--val: 90;
}
.mark-10 {
	--val: 100;
}




/* :::::::::::  :::      ::::::::    :::::::: 
      :+:    :+: :+:   :+:    :+:  :+:    :+: 
     +:+   +:+   +:+  +:+         +:+         
    +#+  +#++:++#++: :#:         +#++:++#++   
   +#+  +#+     +#+ +#+   +#+#        +#+    
  #+#  #+#     #+# #+#    #+#  #+#    #+#     
 ###  ###     ###  ########    ########      */
body{
	background-color: $background-color;
	color:$text-color;
	font-family: lato,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

text{
	fill: $text-color;
	font-size: 32px;
	font-weight: 600;
}

img {
	height: inherit;
}


svg circle {
	stroke-width: 10;
	transform-origin: center;
	fill: none;
	transform: rotate(-90deg);
	stroke: url(#gradient-fill);
}
iframe{
	width: fill-available;
	width: available;
	height: auto;
	border-radius: 20px;
}

a{
	color: $text-color;
	&:hover{
		color:adjust-color($color: $text-color, $lightness: -20%);
	}
}

.background{
	background-color:$background-color;
	background-image:
		radial-gradient(at 17% 78%, #0d2168 0px, transparent 50%),
		radial-gradient(at 71% 79%, #241158 0px, transparent 50%),
		radial-gradient(at 28% 2%, #0d0724 0px, transparent 50%),
		radial-gradient(at 75% 22%, #1a273d 0px, transparent 50%);
}

.full-size{
	width: 100%;
	height: 100%;
}


/*     :::::::::   ::::::::  :::       ::: 
      :+:    :+: :+:    :+: :+:       :+:  
     +:+    +:+ +:+    +:+ +:+       +:+   
    +#++:++#:  +#+    +:+ +#+  +:+  +#+    
   +#+    +#+ +#+    +#+ +#+ +#+#+ +#+     
  #+#    #+# #+#    #+#  #+#+# #+#+#       
 ###    ###  ########    ###   ###       */
row
.content-row {
	margin: 3.5vh auto;
}

.row {
	display: flex;
	flex-direction: row;
	gap: Min(1.5vw, 20px);

}

.row-justify{
	justify-content: center;
}

/*     ::::::::  :::            :::      ::::::::   ::::::::  :::::::::: :::::::: 
     :+:    :+: :+:          :+: :+:   :+:    :+: :+:    :+: :+:       :+:    :+: 
    +:+        +:+         +:+   +:+  +:+        +:+        +:+       +:+         
   +#+        +#+        +#++:++#++: +#++:++#++ +#++:++#++ +#++:++#  +#++:++#++   
  +#+        +#+        +#+     +#+        +#+        +#+ +#+              +#+    
 #+#    #+# #+#        #+#     #+# #+#    #+# #+#    #+# #+#       #+#    #+#     
 ########  ########## ###     ###  ########   ########  ########## ########     */

* {
	transition-duration: 0.2s;
}

.sticky{

	display: block;
	position: sticky;
	// max-height: 100vh;

}

.wrapper {
	display: grid;
	grid-template-areas: "nav main";
	grid-auto-flow: column;
	grid-template-columns: 0.1fr 2fr;
	gap: 1vw;
	margin: 0px 5px;
	nav {
		grid-area: nav;
		position: sticky;
		top: 0.5vh;
		margin: 0.5vh 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5vh;
		height: 99vh;
		background-color: #202551;
		border-radius: 10rem;
	}

}

.icon{
			width: 64px;
				height: auto;
}

.greeting{
	display:block;
	margin-top: 1.5vh;
	margin-bottom: 6vh;
	>*{
		margin: 0px;
	}
	p{
		font-weight: 400;
	}
}

.genre{
	display: block;
	text-align: center;
	border-radius: 20px;
	background-color: #5C2BB7;

	width: 220px;
	height: 150px;
	left: 17px;
	top: 11px;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 500;
	font-size: 18px;
	letter-spacing: -0.03em; 	
}

.recent-game {
	display: block;
	width: 200px;
	height: 70px;

	cursor: pointer;

	.small {
		// image-rendering: pixelated;
		height: 100%;
		aspect-ratio: 1;
		display: inline-block;
		border-radius: 10px;
	}

	span {
		display: inline;

		vertical-align: top;
		margin-top: 0px;
	}
}

.game{
	flex:1 1 250px;
	width: 250px;
	background-color:$primary-color;
	height: 230px;
	text-align: center;
	border-radius: 15px;
	line-height: 30px;
	font-size: 32px;
	cursor:pointer;
	img{
		height: 80%;
		width: 100%;
		border-radius: 15px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}
}

.text{
	padding-left: 10vw;
	padding-right: 24vw;
	padding-bottom: 2vh;
}

.information{
	box-sizing: border-box;
	padding:2vh;
	position: fixed;
	width: Max(400px,30vw);
	height: 99vh;
	background-color: $information-block-color;
	right: 0.2vw;
	top: 0.5vh;
	border-radius: 50px;



	img{
		image-rendering:pixelated;
		width: 100%;
		height: 30%;
		border-radius: inherit;
}
}

.header{
	margin-bottom: 10px;
}

.content{
	text-align: justify;
	font-size:Max( 18px,Min(24px,2vw));
	text-size-adjust: 80%;
}

.score{
	display: inline-block;
	width: Min(30%,120px);
	height:fit-content;
	text-align: center;
}

.score-from{
	display: block;
	text-align: center;
	font-size: 20px;
}

/*       :::   :::   :::::::::: ::::::::: :::::::::::     :::  
       :+:+: :+:+:  :+:        :+:    :+:    :+:       :+: :+: 
     +:+ +:+:+ +:+ +:+        +:+    +:+    +:+      +:+   +:+ 
    +#+  +:+  +#+ +#++:++#   +#+    +:+    +#+     +#++:++#++: 
   +#+       +#+ +#+        +#+    +#+    +#+     +#+     +#+  
  #+#       #+# #+#        #+#    #+#    #+#     #+#     #+#   
 ###       ### ########## ######### ########### ###     ###    */
@media screen and (max-width: 770px)
{
.row{
	flex-wrap: wrap;
	justify-content:space-evenly;
}

.genre{
	width: 200px;
	flex-grow: 1;
	&:last-child{
		// flex-grow: 0.5;
		flex-basis: auto;
	}
}

	 .icon{
		 width: 45px;
	 }
	.wrapper
		{
			display: block;
			margin-left: 0px;
	nav{
		background-color: $menu-background-color;
		gap:10vw;
		flex-direction:row;
		position: fixed;
		width: 100%;
		height: 8vh;
		bottom: 0px;
		top:initial;
		margin: 0;
		border-radius: 0px;
		z-index: 1;
	}
}
	.content{
		font-size: 10px;
	}

	.information{
		display: none;
		border-radius: 20px;
	}
	.header{
		margin: 0px;
		font-size: 15px;
	}

	svg{
		margin: 0px auto;
		width: 30px;
		height: 30px;
	}
	
	.score-from{
		font-size: 10px;
	}
 }