table {
  width: 50vw;
}

.note {
  background-color: bisque;
}

body .lessthree {
  color: yellow;
}

.zero {
  color: red;
}

.normal {
  color: white;
}

.choice {
  color: blue;
}
.lil {
  font-size: 15px;
}
.red_bar {
  margin-top: 5px;
  margin-inline: 2px;
  width: 20px;
  height: 15px;
  background-color: red;
  display: inline-block;
}
.green_bar {
  margin-top: 5px;
  margin-inline: 2px;
  width: 20px;
  height: 15px;
  background-color: green;
  display: inline-block;
}
.black_bar {
  margin-top: 5px;
  margin-inline: 2px;
  width: 20px;
  height: 15px;
  background-color: black;
  display: inline-block;
}

.block {
  position: relative;
  width: fit-content;
  border: 3px solid red;
  margin-block: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.form {
  position: relative;
  top: 10%;
  left: 0%;
  margin: 10px;
}

.form1 {
  position: relative;
  top: 10%;
  left: 0%;
  margin: 10px;
  margin-top: 3px;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}
.table {
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 10;
  margin: 10px;
  background: white;
  border: red;
  color: black;
}

.noteForm {
  text-align: center;
  font-size: 20px;
  background: rgba(70, 199, 66, 0.37);
  width: 700px;
  margin: auto;
  padding: 10px 0 30px 0;
  border-radius: 5px;
}

.noteItem {
  border: 2px solid green;
  margin: 5px;
  background: rgba(255, 213, 0, 0.72);
}

.noteItemRed {
  border: 2px solid green;
  margin: 5px;
  background: rgba(255, 0, 0, 0.72);
}

.textNote {
  font-size: 25px;
}

.titleNote {
  font-size: 35px;
  color: rgba(11, 91, 11, 0.82);
}

.dateNote {
  font-size: 15px;
}

.input {
  font-size: 25px;
  border: 2px solid #79e879;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  width: 300px;
  margin: 3px auto;
}

.noteInput {
  font-size: 25px;
  border: 2px solid #79e879;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  width: 600px;
  margin: 3px auto;
}
